.header {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: #cedbeb; 
  background-image: url('../images/skulls.png');
  padding-bottom: 1em;
}
.name {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: white;
}
.name strong {
  font-weight: 600;
}
.user-image {
  height: 200px;
}

@media screen and (min-width: 1024px) {
  .header {
    justify-content: center;
    width: 40%;
    margin-left: 5%;
  }  
}