.title {
  font-family: "Bungee", cursive;
  font-size: 2.5rem;
}
.navbar {
  position: absolute;
  color: #ffffff;
  width: 100vw;
  background-color: #4056a1;
  height: 120px;
  padding: 0 1.5em 0.5em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;

}
.nav-tweet {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.double-down {
  align-self: center;
  color: red;
}
