.new-tweet {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.new-tweet form {
  display:flex;
  flex-direction: column;
}

.new-tweet textarea {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 3px solid black;
  height: 3rem;
  margin-bottom: 1rem;
}
.new-tweet textarea:focus {
  outline:none;
}
.submit-container {
  display: flex;
  justify-content: space-between;
}
.counter {
  font-family: "Bungee", cursive;
}

.new-tweet button {
  border: none ;
  background-color: #4152a1;
  font-family: "Bungee", cursive;
  color: white;
  padding: 0.5rem 1rem;
}
.red-text {
  color: red;
}
.error {
  color: white;
  position: relative;
  background-color: rgb(219, 125, 125);
  padding: 0.5em 1em;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 1rem;
}
.error::before{
  position: absolute;
  content: "";
  height: 0px;
  width: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(219, 125, 125);
  top: -20px;
}